<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>70EE2860FCB14100EB0AB94F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85DC4ECE35FD7CA2CCB8A3E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86057CF9B910B030C8585B87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
